<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    <%=htmlWebpackPlugin.options.title%>
  </title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no,viewport-fit=cover">
  <script src="//<%= htmlWebpackPlugin.options.domain%>/common/flexible/0.3.4/flexible.js"></script>
  <script type="text/javascript" src="//<%= htmlWebpackPlugin.options.domain%>/common/vue/2.4.2/vue.min.js"></script>
</head>
<body>
<div id="app"></div>
</body>
</html>
