@import '~font-awesome/css/font-awesome.min.css';
@import "animate";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.wp100 {
  width: 100%;
}

.pd20 {
  padding: 20px;
}

a {
  text-decoration: none;
}

/**router-link default*/
.router-link-active {
  text-decoration: none;
}

.common-title {
  font-size: 16px;
  color: #1c2438;
  font-weight: 700;
}
