* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

.mt20 {
  margin-top: 20px;
}

.wp100 {
  width: 100%;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tc {
  text-align: center;
}

/**custom css**/
.container {
  margin-top: 40px;
  margin-bottom: 60px;
  position: relative;
}

.title {
  padding: 10px;
}

.popup {
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

/*cover mint-ui css*/

.mint-cell {
  min-height: 36px;
}

.mint-cell-wrapper {
  font-size: 12px;
}

.mint-cell-title {
  white-space: nowrap;
  margin-right: 20px;
}

