.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.wp100 {
  width: 100%;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tc {
  text-align: center;
}


/**custom css**/
.popup {
  width: 100%;
  height: 100%;
  background-color: #FFF;
}
